/*---- Sidebar Icons ----*/
.ico-overview {
    width: 15px;
    height: 12px;
    background: url('../img/sidebar-icons.png') 0px 0px;
}
.ico-overview:hover { background: url('../../media/img/sidebar-icons.png') 16px 0px; }


.ico-rooms {
    width: 15px;
    height: 12px;
    background: url('../img/sidebar-icons.png') 0px -47px;
}
.ico-rooms:hover { background: url('../../media/img/sidebar-icons.png') 16px -47px; }


.ico-components {
    width: 15px;
    height: 12px;
    background: url('../img/sidebar-icons.png') 0px -94px;
}
.ico-components:hover { background: url('../../media/img/sidebar-icons.png') 16px -94px; }


.ico-vendors {
    width: 15px;
    height: 12px;
    background: url('../img/sidebar-icons.png') 0px -142px;
}
.ico-vendors:hover { background: url('../../media/img/sidebar-icons.png') 16px -142px; }


.ico-settings {
    width: 15px;
    height: 13px;
    background: url('../img/sidebar-icons.png') 0px -191px;
}
.ico-settings:hover { background: url('../../media/img/sidebar-icons.png') 16px -191px; }


.ico-rselector-magnifier {
	width: 17px;
	height: 17px;
 	background: url('../img/roomselector-icons.png') 0px 0px;
}

.ico-rselector-mover {
	width: 17px;
	height: 17px;
 	background: url('../img/roomselector-icons.png') -31px 0px;
}

.ico-rselector-mouse {
	width: 17px;
	height: 17px;
 	background: url('../img/roomselector-icons.png') 17px 0px;
}