RewriteEngine On

# if a directory or a file exists, use it directly
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# otherwise forward it to index.php
RewriteRule .* index.php
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization},L]

RewriteRule ^merl.*$ http://192.168.0.61/merl.php [R=301,L]
RewriteRule ^folder1.*$ http://192.168.0.61/folder2/ [R=301,L]
