<div class="contentbox">
	<h2>Komponente hinzuf&uuml;gen</h2>
	<form id="newcomponent" method="POST">
		<label for="componentname">Komponentenname:</label>
		<input id="componentname" type="textbox" size="30" required />
		<br>
		<label for="componenttype">Komponententyp:</label>
		<select id="componenttype" type="combobox" required></select>
		<br>
		<input type="submit" />
	</form>
	<script>
		// Get componenttypes
		$.ajax({
			url: "controller/components.php?componenttypes",
		}).done(function(jsonString) {
			var jsonData = JSON.parse(jsonString);
			
			var selectContent = "";
			for (var row in jsonData)
			{
				selectContent += "<option value='" + jsonData[row].ID + "'>" + jsonData[row].name + "</option>";
			}
			
			$("#componenttype").html(selectContent);
		});
	
		// Create new component
		$("#newcomponent").submit(function(event){
			event.preventDefault();
			
			$.post("controller/components.php?new", {
				componentname: $("#componentname").val(), 
				componenttype: $("#componenttype").val()});
		});
	</script>
</div>
<div class="contentbox">
	<h2>Komponenten&uuml;bersicht</h2>
	<table id="componentsTable">
	</table>
	<script type="text/javascript">
		$.ajax({
			url: "controller/components.php?show",
		}).done(function(jsonString) {
			var jsonData = JSON.parse(jsonString);
			
			var tableContent = "";
			for (var row in jsonData)
			{
				tableContent += "<tr>";
				
				for (var column in jsonData[row])
				{
					tableContent += "<td>" + jsonData[row][column] + "</td>"
				}
				
				tableContent += "</tr>";
			}
			$("#componentsTable").html(tableContent);
		});
	</script>
</div>