<div class="contentbox">
	<h2>Raum hinzuf&uuml;gen</h2>
</div>
<div class="contentbox">
	<h2>Raum&uuml;bersicht</h2>
	<table id="roomsTable"></table>
	<script type="text/javascript">
		// Get rooms
		$.ajax({
			url: "controller/rooms.php?show",
		}).done(function(jsonString) {
			var jsonData = JSON.parse(jsonString);
			
			var tableContent = "";
			for (var row in jsonData)
			{
				tableContent += "<tr>";
				
				for (var column in jsonData[row])
				{
					tableContent += "<td>" + jsonData[row][column] + "</td>"
				}
				
				tableContent += "</tr>";
			}
			$("#roomsTable").html(tableContent);
		});
	</script>
</div>