<div class="contentbox">
	<form id="dbuserinformation" method="POST">
		<label for="dbusername">Username:</label>
		<input id="dbusername" type="textbox" required/>
		<br>
		<label for="dbuserpassword">Userpassword:</label>
		<input id="dbuserpassword" type="password" />
		<br>
		<label for="saveasdefaultdbuser">Als Standard-Benutzer speichern</label>
		<input id="saveasdefaultdbuser" type="checkbox" />
		<br>
		<input type="submit" />
		<div id="importProcessDialog"></div>
	</form>
	<script type="text/javascript">
		var importProcessDialog;
		
		$("#dbuserinformation").submit(function(event){
			event.preventDefault();
			
			importProcessDialog.dialog("open");
			$("#importProcessDialog").html("Bestand wird eingespielt!");
			
			var posting = $.post("controller/setup.php?import", {
				dbusername: $("#dbusername").val(), 
				dbuserpassword: $("#dbuserpassword").val(), 
				saveasdefaultdbuser: $("#saveasdefaultdbuser").val()});
			
			posting.done(function(data){
				if(data == "successfull"){
					$("#importProcessDialog").html("Einspielen erfolgreich!");
					importProcessDialog.dialog("option", "buttons", [{
						text: "Fertig",
						click: function() {
							window.location.search = "";
						}
					}]);
				}else{
					$("#importProcessDialog").html("Einspielen fehlgeschlagen!");
					importProcessDialog.dialog("option", "buttons", [{
						text: "Fertig",
						click: function() {
							$(this).dialog("close");
						}
					}]);
				}
			})
		});
		
		importProcessDialog = $("#importProcessDialog").dialog({
			dialogClass: "no-titlebar",
			autoOpen: false,
			modal: true
		});
	</script>
</div>
