<div class="contentbox">
	<form id="userinformation" method="POST">
		<label for="username">Username:</label>
		<input id="username" type="textbox" required/>
		<br>
		<label for="userpassword">Userpassword:</label>
		<input id="userpassword" type="password" />
		<br>
		<input type="submit" />
		<div id="importProcessDialog"></div>
	</form>
</div>
<script type="text/javascript">
	var importProcessDialog;
	
	$("#userinformation").submit(function(event){
		event.preventDefault();
		
		importProcessDialog.dialog("open");
		$("#importProcessDialog").html("Bestand wird eingespielt!");
		
		var posting = $.post("controller/setup.php?import", {username: $("#username").val(), userpassword: $("#userpassword").val()});
		
		posting.done(function(data){
			if(data == "successfull"){
				$("#importProcessDialog").html("Einspielen erfolgreich!");
				importProcessDialog.dialog("option", "buttons", [{
					text: "Fertig",
					click: function() {
						window.location.search = "";
					}
				}]);
			}else{
				$("#importProcessDialog").html("Einspielen fehlgeschlagen!");
				importProcessDialog.dialog("option", "buttons", [{
					text: "Fertig",
					click: function() {
						$(this).dialog("close");
					}
				}]);
			}
		})
	});
	
	importProcessDialog = $("#importProcessDialog").dialog({
		dialogClass: "no-titlebar",
		autoOpen: false,
		modal: true
	});
</script>
