<div class="contentbox" id="dbimport">
	<h2>Datenbank einspielen</h2>
	<form id="dbuserinformation" method="POST">
		<label for="dbusername">Username:</label>
		<input id="dbusername" type="textbox" required/>
		<br>
		<label for="dbuserpassword">Userpassword:</label>
		<input id="dbuserpassword" type="password" />
		<br>
		<label for="saveasdefaultdbuser">Als Standard-Benutzer speichern</label>
		<input id="saveasdefaultdbuser" type="checkbox" />
		<br>
		<input type="submit" />
	</form>
	<div id="importProcessDialog"></div>
	<script type="text/javascript">
		var importProcessDialog;
		
		$("#dbuserinformation").submit(function(event){
			event.preventDefault();
			
			importProcessDialog.dialog("open");
			$("#importProcessDialog").html("Bestand wird eingespielt!");
			
			var posting = $.post("controller/setup.php?importdb", {
				dbusername: $("#dbusername").val(), 
				dbuserpassword: $("#dbuserpassword").val(), 
				saveasdefaultdbuser: $("#saveasdefaultdbuser").val()});
			
			posting.done(function(data){
				if(data == "successfull"){
					$("#importProcessDialog").html("Einspielen erfolgreich!");
					importProcessDialog.dialog("option", "buttons", [{
						text: "Weiter",
						click: function() {
							$("#dbimport").hide();
							$("#defaultuser").show();
							$(this).dialog("close");
						}
					}]);
				}else{
					$("#importProcessDialog").html("Einspielen fehlgeschlagen!");
					importProcessDialog.dialog("option", "buttons", [{
						text: "Wiederholen",
						click: function() {
							$(this).dialog("close");
						}
					}]);
				}
			});
		});
		
		importProcessDialog = $("#importProcessDialog").dialog({
			dialogClass: "no-titlebar",
			autoOpen: false,
			modal: true
		});
	</script>
</div>

<div class="contentbox" id="defaultuser" hidden>
	<h2>Benutzer festlegen</h2>
	<form id="defaultuserinformation">
		<h3>Systemadminstrator festlegen</h3>
		<label>Benutzername:</label>
		<input id="defaultusername" type="textbox" required />
		<br>
		<label>Passwort:</label>
		<input id="defaultuserpassword" type="password" required />
		<br>
		<label>Passwort wiederholen:</label>
		<input id="defaultuserpasswordwdh" type="password" required />
		<br>
		<label>Administratorengruppenname:</label>
		<input id="administratorsusergroup" required />
		<br>
		<input type="submit" />
	</form>
	<div id="defaultuserDialog"></div>
	<script type="text/javascript">
		var defaultuserDialog;
		
		$("#defaultuserinformation").submit(function(event){
			event.preventDefault();
			
			defaultuserDialog.dialog("open");
			$("#defaultuserDialog").html("Benutzer wird erstellt!");
			
			if ($("#defaultuserpassword").val() === $("#defaultuserpasswordwdh").val())
			{
				var posting = $.post("controller/setup.php?createDefaultUser", {
					defaultusername: $("#defaultusername").val(), 
					defaultuserpassword: $("#defaultuserpassword").val(), 
					administratorsusergroup: $("#administratorsusergroup").val()});
				
				posting.done(function(data){
					if(data == "successfull"){
						$("#defaultuserDialog").html("Einspielen erfolgreich!");
						defaultuserDialog.dialog("option", "buttons", [{
							text: "Fertig",
							click: function() {
								window.location.search = "";
							}
						}]);
					}else{
						$("#defaultuserDialog").html("Einspielen fehlgeschlagen!");
						defaultuserDialog.dialog("option", "buttons", [{
							text: "Fertig",
							click: function() {
								$(this).dialog("close");
							}
						}]);
					}
				});
			}
		});
		
		defaultuserDialog = $("#defaultuserDialog").dialog({
			dialogClass: "no-titlebar",
			autoOpen: false,
			modal: true
		});
	</script>
</div>
